body {
  font-family: 'Roboto', sans-serif;
}
.v-application, .v-application * {
  font-family: 'Roboto', sans-serif !important;
}
.v-application {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* Global title styling */
.app-title {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}
